body{
background-color: white#efeee7;

}

.customH{text-align: center;
background-color: black;
color: white;
}

.resizeImg{
height:250px;
width: 250px;
transform: rotate(90deg);
}

.wrappingText{
    margin-left: 50px;
    
}

